
<%# head %>

<%= render "shared/header" %>

<%# head %>

<%# contents %>

<div class="top-wrapper">
<div class="container">
      　</h1>petterとは...?</h1>
        <p>愛犬を共有するサイトです</p>
        <p>自慢の愛犬を投稿して共有してみましょう</p>
        <p></p>
    </div>

</div>

<div class="boxA">


  <div class="tweet1">
  </div>





  <div class="tweet2">

      <div class="title">
      我が家の愛犬を共有しよう
      </div>

      <p class="listings">
        <%link_to%>
      </p>

      <p class="search">
      　<a href="#" class="button">検索する</a>
      </p>

  </div>

  <div class="tweet3">
  </div>

</div>

<div class="pet">
asd
</div>


<div class="box5">



</div>