
<%# head %>
<div box1>
  <div class="site">
  <h1><a href="#">petter</a></h1>
  </div>
</div>

<div class="box2">
  <nav class="menu">
    <ul>
      <li><a href="#">新規登録</a></li>
      <li><a href="#">ログイン</a></li>
      <li><a href="#">種類から探す</a></li>
    </ul>
  </nav>
</div>
<%# head %>

<%# contents %>

<div class="top-wrapper">
<div class="container">
      　</h1>petterとは...?</h1>
        <p>愛犬を共有するサイトです</p>
        <p>自慢の愛犬を投稿して共有してみましょう</p>
        <p></p>
    </div>

</div>

<div class="boxA">


  <div class="tweet1">
  </div>





  <div class="tweet2">

      <div class="title">
      我が家の愛犬を共有しよう
      </div>

      <p class="listings">
        <a href="#" class="button">投稿する</a>
      </p>

      <p class="search">
      　検索する
      </p>

  </div>

  <div class="tweet3">
  </div>

</div>

<div class="pet">
asd
</div>


<div class="box5">



</div>