<div box1>
  <div class="site">
  <h1><a href="/">petter</a></h1>
  </div>
</div>

<div class="box2">
  <nav class="menu">
    <ul>
      <li><%= link_to '新規登録',new_user_registration_path, class:"sign-up" %></li>
      <li><a href="#">ログイン</a></li>
      <li><a href="#">種類から探す</a></li>
    </ul>
  </nav>
</div>