
.edit-all{
  height: 100vh;
}

.edit-contents{

padding: 10px;
width: 500px;
margin: 10px auto;
display: flex;
}


.e{
  margin: 10px;
 flex-direction: column;
 display: flex;
 background-color:rgba(73, 69, 73, 0.2);
}


label{
  color: white;
  text-align: center;
  display: block;
  margin: 10px;
}

.pl{
  margin: 10px;
  flex-direction: column;
  
}

.submit{
  width: 100%;
  background:rgba(73, 69, 73, 0.2);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

#image-list img{
  width: 100px;
}