


li {
  list-style: none;
}
/* これがなかったら大きな空白ができる */
.wrap {
  overflow: hidden;
}
a{
 
  text-decoration: none;
}

.site a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;
}

.site{
  padding: 10px;
  font-size: 20px;
}

/* ナビゲーション */


h1 {
  margin: 0; padding: 0;
  font-family: fantasy;
  font-size: 30px;
}


#header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #e4a972c2;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height:70px;
  z-index: 100;
 
}

.header-btn a:hover{
 
 color: dimgray;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav{
  margin: 0 0 0 auto;
}

/* ナビゲーション */
.container{
  
 color:white;
 font-size: 30px;
 font-weight: bold;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
  
}



.tweet1{
  /* float: left;
  width: 15%;
  background-color: blueviolet;
  height: 100px; */

}

.tweet2{
  /* margin-left: 5%; */
  /* float: left; */
  /* width: 70%; */
  height:350px;
  text-align: center;
  
  /* background-color: darkgray; */

}

.title{
  padding: 15px;
  margin: 30px;
}

.listings {
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px;
  background-color: #FFF5EE; /* 背景色 */
 box-shadow: 0 0 5px 1px #ccc; /* 影 */
  padding: 20px;
  width: 300px;
  margin: 30px auto;  
  text-align: center;
}

.listings:hover{
  background-color: silver;
}

.listings a{
  color: dimgray;
}



.search{

  padding: 20px;
  margin: 0 auto;
  width: 300px;
  background-color: #FFF5EE; /* 背景色 */
  box-shadow: 0 0 5px 1px #ccc; /* 影 */
  
}

.search:hover{
  background-color: silver;
}


.search a{
 color: dimgray;
}


.tweet3{
  
  float: left;
  width: 15%;
}


.menu li li {

  height: 0;
  overflow: hidden;
  transition: .5s;
}

.menu li:hover > ul > li {
  height: 3rem;
  overflow: visible;
}


/* モーダルウィンドウ */

.calendar-btn{
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  opacity: .6;
  transition: .3s;
}

.plan_modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  display: none;
}

.plan_modal {
  position: absolute;
  background-color: white;
  width: 300px;
  height: 150px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;

  display: none;
  text-align: right;
}

.plan_modal_content {
  display: none;
  text-align: center;
}

.modal-title{
  color: rgb(41, 40, 40);
  border-bottom: black 2px dotted;
  margin: 10px;
}

.modal-delete{
 color: black;
  margin: 30px;
}
.modal-delete a{
 color: black;
}


.modal-text{
  
}

.fa-times-circle {
  text-align: left;
  cursor: pointer;
  
}

.fas{
  color: rgb(94, 94, 94);
}

.no-tweets{
  font-size: 20px;
  text-align: center;
  margin: auto;
  width: 500px;
  margin-top: 5%;
  margin-bottom: 5%;
}

