li {
  list-style: none;
}
/* これがなかったら大きな空白ができる */
.wrap {
  overflow: hidden;
}




 a{
  text-decoration: none;
}

.site a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;
}

.site{
  padding: 10px;
  font-size: 30px;
}

/* ナビゲーション */

.box2{
  background-color: rgba(255, 255, 255, 0.2);
  width: auto;
  height: 43px;
  list-style: none;


}


menu ul{
  margin: 0;
  padding: 0;
 
}

.menu li a{
  display: block;
  padding: 10px;
  color:white;
  font-size: 15px;
}


.menu li{
  float: right;
  width: auto;
  list-style: none;
    position: relative;
}

.menu li:hover{
  background-color: gray;
}


menu2 ul{
  margin: 0;
  padding: 0;
 
}

.menu2 li a{
  display: block;
  padding: 10px;
  color:white;
  font-size: 15px;
}


.menu2 li{
  float: left;
  width: auto;
}

.menu2 li:hover{
  background-color: gray;
}




.boxA:after{
   content:"";
   display: block;
   clear: both;

}

.container{
  
 color:white;
 font-size: 30px;
 font-weight: bold;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
  
}



.tweet1{
  /* float: left;
  width: 15%;
  background-color: blueviolet;
  height: 100px; */

}

.tweet2{
  /* margin-left: 5%; */
  /* float: left; */
  /* width: 70%; */
  height:350px;
  text-align: center;
  
  /* background-color: darkgray; */

}

.title{
  padding: 15px;
  margin: 30px;
}

.listings {
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px;
  background-color: #FFF5EE; /* 背景色 */
 box-shadow: 0 0 5px 1px #ccc; /* 影 */
  padding: 20px;
  width: 300px;
  margin: 10px auto;  
}

.listings:hover{
  background-color: silver;
}

.listings a{
  color: dimgray;
}



.search{

  padding: 20px;
  margin: 0 auto;
  width: 300px;
  background-color: #FFF5EE; /* 背景色 */
  box-shadow: 0 0 5px 1px #ccc; /* 影 */
  
}

.search:hover{
  background-color: silver;
}


.search a{
 color: dimgray;
}




.tweet3{
  
  float: left;
  width: 15%;
}






