
/* これがなかったら大きな空白ができる */
.wrap {
  overflow: hidden;
}




a {
  text-decoration: none;
}

.site a{
  color: darksalmon;
}

.site{
  padding: 10px;
  font-size: 30px;
}

/* ナビゲーション */

.box2{
  background-color:gainsboro;
  width: auto;
  height: 43px;
  list-style: none;

}

menu ul{
  margin: 0;
  padding: 0;
 
}

.menu li a{
  display: block;
  padding: 10px;
  color: black;
  font-size: 15px;
}


.menu li{
  float: right;
  width: auto;
}

.menu li:hover{
  background-color: gray;
}


menu2 ul{
  margin: 0;
  padding: 0;
 
}

.menu2 li a{
  display: block;
  padding: 10px;
  color: black;
  font-size: 15px;
}


.menu2 li{
  float: left;
  width: auto;
}

.menu2 li:hover{
  background-color: gray;
}




.boxA:after{
   content:"";
   display: block;
   clear: both;

}

.container{
  
 color:white;
 font-size: 30px;
 font-weight: bold;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
  /* background-color:wheat; */
}



.tweet1{
  float: left;
  width: 15%;
  /* background-color: blueviolet; */
  height: 100px;

}

.tweet2{
  
  float: left;
  width: 70%;
  height:350px;
  text-align: center;
  
  /* background-color: darkgray; */

}

.title{
  
  color: darkgray;
  padding: 15px;
  margin: 30px;
}

.listings{
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px;
  background-color: #FFF5EE; /* 背景色 */
 box-shadow: 0 0 5px 1px #ccc; /* 影 */
  padding: 20px;
  width: 300px;
  margin: 10px auto;  
  opacity: 0.7;
}

.listings:hover{
  opacity: 1;
}


.search{
  padding: 20px;
  margin: 0 auto;
  width: 300px;
  background-color: #FFF5EE; /* 背景色 */
  box-shadow: 0 0 5px 1px #ccc; /* 影 */
  
}




.tweet3{
  height: 300px;
  float: left;
  width: 15%;
  /* background-color: cornflowerblue; */
}

.pet{
  height: 300px;
  width: 100%;
  background-color:whitesmoke;
}


.icon{
  border-radius: 50%;
  width:  180px;
  height: 180px;
}


.box5{
  height: 1000px;
}