

.lists-all{
  height: auto;
}

.list-title{
  width: 800px;
  border-bottom: dimgray 1.5px dotted ;
  font-size: 20px;
  margin:100px 5%  1px 5% ;
}

.lists-pet-name{
  font-size: 20px;
  color: whitesmoke;
}

.lists-pet-name:hover a{
  color:dimgray;
}


.lists-user{
  margin:5%;
  width: 400px;
  height: 200px;
}

.lists-user-individual{
  background-color: rgba(255, 255, 255, 0.2);
  width: 800px;
  height:170px ;
  border: 1px solid dimgray;
  padding:10px;
}

.lists-image{
  margin: 20px;
  float: left;
}

.lists-icon{
  
 
  border-radius: 50%;
  width:  100px;
  height: 100px;
  box-shadow: 0 2px 6px #c1ced7;
}

.lists-pets-detail{
  
  padding: 20px;
}

.lists-pet-type{
  font-size: 5pxx;
}


.pet-main-title{
  font-size: 20px;
  border-bottom: dimgray 1.5px dotted;
  width: 400px;
  margin: 10px;
 flex-direction: column;
 display: flex;
  
}

