

.lists-all{
  height: 100vh;
  
}

.lists-user{
 margin: 10px auto;
  width: 400px;
  height: 200px;

}

.lists-user-individual{
  background-color: rgba(255, 255, 255, 0.2);
  width: 400px;
  height:200px ;
  margin: 20px;
  border: 1px solid dimgray;
 
  padding:30px;
  
}

.lists-icon{
  
 margin-left: 40px;
  border-radius: 50%;
  width:  60px;
  height: 60px;
  box-shadow: 0 2px 6px #c1ced7;
}