

.plan-all{
  height: 100vh;
}

.plan-new-all{
 height: 100vh;
}

.plan-create{
  margin: 5%;
}

.plan-calendar{
  margin: 5%;
  /* background-color: rgb(173, 172, 172); */
  width: 800px;
}

.plan-text{
  font-size: 13px;
}

.plan-new-all{
  text-align: center;
  
}

.plan-new-time select{
  width: auto;
}
.plan-new-form{
  padding: 30px;
  margin:20px auto;
  background-color: rgba(255, 255, 255, 0.2);
  width: 400px;
}

.plan-new-tag{
  margin: 20px;
  display: inline-block;
  text-align: left;
  
}

.plan-new-content{
  margin: 10px;
}

.plan-create{
  border-radius: 4%;
  padding: 20px;
  text-align: center;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
}

.far{
  color: black;
}

.calendar-heading{
  text-align: center;
  padding: 15px;
  background-color: rgb(153, 150, 150);
  margin: 20px;
}

.simple-calendar{
  margin: 30px;
}