
.rank-all{
  display: flex;
  justify-content: space-around;
  height: 100%;
  overflow: scroll;
}

.rank-individual{
  margin: 20px 0 0 0;
}

.rank-tweet{
  margin: 0 0 30px 0;
  color: rgb(59, 39, 39);
  width: 600px;
  height: 800px;
  
  text-align: center;
  padding: 30px;
}


.rank-tag-all{
  margin: 0 0 30px 0;
  padding: 50px;
  width: 600px;
  height: 800px;
  
  text-align: center;

}

.rank-title{
  margin: 10px;
}

.rank-nickname{
  font-size: 15px;

}



.rank-num{
  border-bottom: 2px dotted gray;
  margin: auto;
  font-size: large;
}

.rank-tag-num{
  color: aliceblue;
  border-bottom: 2px dotted gray;
  margin: auto;
  font-size: large;
}