

.search-all{
  overflow: scroll;
  height: 100vh;
}


select {
  
  width: 200px;
  height: 30px;
  margin: auto;
}

.search-form{
  padding: 30px;
  margin: 30px auto;
  width: 500px;
  background-color:rgba(73, 69, 73, 0.2);
}

.search-field{
  width: 400px;
  
 flex-direction: column;
 display: flex;
 /* background-color:rgba(73, 69, 73, 0.2); */
}

.search-main-title{
  width: 400px;
  border-bottom: dimgray 1.5px dotted;
  font-size: 20px;
  margin: 100px 5% 1px 5%;
}

.search-btn{
  margin: 20px auto;
  width: 300px;
  margin: 30px auto;
  background:rgba(73, 69, 73, 0.2);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}


.pet-search-title{
width: 400px;
border-bottom: dimgray 1.5px dotted;
font-size: 20px;
margin: 100px 5% 1px 5%;
}

.animal-type-all{
  height: 100vh;
}