// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
     

.top-wrapper{
  padding: 150px;
  height: 700px;
  background-image: image-url('cat.jpg');
  background-size:cover;



  // background-color:rgba(73, 69, 69, 0.6);
  background-blend-mode:lighten;

  // background:#ddd url('cat.jpg') no-repeat center center;
  }