

body{
  
  color: rgb(68, 65, 65);
}
.show-contents{
  text-align: center;
  height: 100%;
  width: 900px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  
}

.t-show-content{
  margin: auto;
}

.show-content{
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}


.t-show-nickname{
  display: inline-block;
  padding: 20px;

}
.t-show-title{
  margin: 10px;
  padding: 10px;
  border: indianred solid 1px;

}


.show-contents-right{
  
  width: 400px;
  margin-top: 30px;
  
}



#comments p{
 
  margin: 10px;
  padding: 10px;
}

.show-ph{
  
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
}

/* いいね機能 */
.t-show-likes{
  margin: 40px auto;
  border: 1px solid gray;
  padding: 10px;
  text-decoration: none;
  border-radius: 40px;
  width: 200px;
  min-width: 200px;
  
}



.t-show-likes:hover{
  background-color: indianred;

}

.fa-heart{
  color: indianred;
}



.t-show-real-text{
  padding: 20px;
  
  width: 400px;
  height: auto;
}


/* アイコン画像 */
.t-show-icon{
  display: inline-block;
  border-radius: 50%;
  width:  80px;
  height: 80px;
  box-shadow: 0 2px 6px #c1ced7;
}



.comment-submit{
  width: 30%;
  background:rgba(73, 69, 73, 0.2);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.t-show-real-text{
  margin: auto;
  text-align: center;
}


.t-show-current_user{
  margin: 20px auto;
  width: 300px;
 
}

.t-show-edit{
  background-color: rgb(137, 226, 149);
  padding: 10px;
  margin: 10px;
}

.t-show-edit:hover{
  background-color: rgb(62, 172, 76);
}

.t-show-destroy{
  background-color: rgb(123, 160, 228);
  padding: 10px;
  margin: 10px;
}

.t-show-destroy:hover{
  background-color: rgb(67, 116, 206);
}